@import 'tailwindcss';

@font-face {
	font-family: 'IowanOldStyleBT';
	src: url('/iowanoldst-bt/iowan-old-style-bt.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IowanOldStyleBT';
	src: url('/iowanoldst-bt/iowan-old-style-italic-bt.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'IowanOldStyleBT';
	src: url('/iowanoldst-bt/iowan-old-style-bold-bt.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IowanOldStyleBT';
	src: url('/iowanoldst-bt/iowan-old-style-bold-italic-bt.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'IowanOldStyleBT';
	src: url('/iowanoldst-bt/iowan-old-style-black-bt.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IowanOldStyleBT';
	src: url('/iowanoldst-bt/iowan-old-style-black-italic-bt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@theme {
	--font-inter: 'Inter', sans-serif;
}

@layer base {
	.font-inter {
		font-optical-sizing: auto;
	}
}

@layer utilities {
	.shadow-recipe {
		--tw-shadow: 0px 0px 12px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
		--tw-shadow-colored: 0px 0px 12px var(--tw-shadow-color);
		box-shadow: var(--tw-shadow);
	}

	.shadow-recipe-none {
		--tw-shadow: 0px 0px 0px;
		--tw-shadow-colored: 0px 0px 12px;
	}
}

body {
	font-family: 'IowanOldStyleBT', serif;
}
