info:
  contact: {}
  description: API Server for the WeCook application.
  title: WeCook API
  version: "1.0"
paths:
  /ping:
    get:
      responses:
        "200":
          description: OK
      summary: Ping endpoint.
      tags:
      - Ping
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
