info:
  contact: {}
  description: API Server for the Clamp application.
  title: Clamp API
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
